body {
  background-image: url(Imagen/5193138.jpg);
}

#sessao {
  position: relative;
  background-color: rgba(20, 20, 20, 0);
  margin: 0 auto;
}

h1 {
  color: rgb(248, 168, 48);
  background-color: rgba(12, 11, 11, 0.938);
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.3vw;
  height: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#lista {
  position: absolute;
  list-style-type: none;
  background-image: url(Imagen/pizza-foto.jpg);
  background-position-y: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  margin: 0 auto;
  margin-left: 420px;
  width: 60vw;
  border: 1px solid black;
  height: 650px;
  border-radius: 50px 25px 25px 25px;
}

li {
  display: inline-block;
  height: 300px;
  width: 150px;
  margin: 0 auto;
  padding: 35px;
}

h2 {
  display: relative;
  text-align: center;
  color: rgb(243, 239, 243);
  background-color: rgba(0, 0, 0, 0.911);
  width: fit-content;
  margin: 0 auto;
}

#menu {
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding-right: 30px;
}
